@import url('./styles/xy.theme.css');
@import url('./styles/tailwind.theme.css');
@import "@radix-ui/themes/styles.css";
@import 'tailwindcss';
 
:root {
  color-scheme: light dark;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--link-hover);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover);
}

html, body {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: var(--font-bricolage);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-background);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
